body {
  font-family: Arial, sans-serif;
  background: #fafdeb;
  margin: 0;
  padding: 20px;
  color: #434e04;
  /* display:flex;
  flex-direction: column; */
}

.logout-div{
  display: flex;
  width: 100%;
  justify-content: right;
}


.staffDashboard {
  max-width: 800px;
  margin: auto;
  background: #eff5d2;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

h1{
  text-align: center;
}



form {
 display: block;
  margin-bottom: 15px;
  flex-wrap: wrap;
}
label{
    display: block;
    margin-bottom: 5px ;
    font-weight: bold;
}

input, textarea {
  padding: 8px;
  margin-bottom: 10px;
  width: 90%; 
  border: 1px solid #fafdeb;
  border-radius: 5px;
}

button {
  padding: 8px 12px;
  background: #c6d870;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

button:hover {
  background: #8fa31e;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #689773;
  margin-bottom: 30px;
}

